* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}
@media only screen and (max-width: 432px) {
  html {
    font-size: 58%;
  }
}
@media only screen and (max-width: 390px) {
  html {
    font-size: 54%;
  }
}
@media only screen and (max-width: 350px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-size: 2rem;
  font-family: "Noto Sans", sans-serif;
  min-height: 100%;
  color: #fff;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)), url("../hero.jpg");
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 500ms;
}
a:hover::after {
  opacity: 1;
}

.heading-secondary {
  font-weight: 200;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.green {
  color: rgb(55, 179, 55);
}

.blue {
  background-color: midnightblue;
}

.purple {
  background-color: rebeccapurple;
}

.orange {
  background-color: orangered;
}

.get-user-location-btn {
  width: 40rem;
  height: 20rem;
  border: 1px solid #fff;
  background: 0;
  font-family: inherit;
  font-weight: 200;
  color: inherit;
  font-size: 4rem;
  letter-spacing: 2px;
  border-radius: 10px;
}
.get-user-location-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.map {
  height: 100%;
  width: 100%;
}

.card {
  width: 100%;
  border: 1px solid white;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  transition: background-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card__header {
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 3rem;
  text-align: center;
}
@media only screen and (max-width: 1220px) {
  .card__header {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
.card__subheader {
  font-size: 4rem;
  margin-top: auto;
}
@media only screen and (max-width: 1220px) {
  .card__subheader {
    font-size: 3rem;
  }
}
.card__weather-icon {
  width: 15rem;
  margin-top: auto;
}
@media only screen and (max-width: 1220px) {
  .card__weather-icon {
    width: 12rem;
  }
}
.card__temp {
  font-size: 6rem;
  margin-top: auto;
}
@media only screen and (max-width: 1220px) {
  .card__temp {
    font-size: 5rem;
  }
}
.card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(11, 38, 2, 0.937254902);
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.loader-msg {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  line-height: 2;
  font-weight: 200;
  font-size: 2.5rem;
}
.loader-msg .msg-top {
  color: orange;
  letter-spacing: 1px;
}
.loader-msg .msg-bottom {
  letter-spacing: 1px;
  font-style: italic;
}

.mug-body {
  position: relative;
}

.mug-body {
  content: " ";
  height: 150px;
  width: 200px;
  background: orange;
  border-radius: 0 0 70px 70px;
  position: relative;
}

.mug-body::after {
  content: "";
  height: 150px;
  width: 200px;
  background: orange;
  position: absolute;
  border-radius: 0 0 70px 70px;
}

.handle {
  background: orange;
  height: 80px;
  width: 150px;
  position: absolute;
  z-index: 0;
  right: -50px;
  border-radius: 0 50px 50px 0;
}

.handle::after {
  content: "";
  height: 78%;
  width: 80%;
  border-radius: 0 50px 50px 0;
  z-index: 3;
  background: rgba(11, 38, 2, 0.9490196078);
  position: absolute;
  right: 10px;
  top: 10px;
}

.steam {
  height: 80px;
  width: 40px;
  background: rgba(255, 255, 255, 0.986);
  position: absolute;
  top: -100px;
  left: 10px;
  z-index: 4;
  overflow: hidden;
}
.steam--2 {
  left: 80px;
}
.steam--3 {
  left: 150px;
}

.wave-left {
  width: 160px;
  height: 19px;
  background: url("../sine-wave.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(90deg) translate(-8px, 40px);
}
.wave-left--1 {
  animation: slideLeftWave 2s linear infinite;
}
.wave-left--2 {
  animation: slideLeftWave 2s linear -800ms infinite;
}
.wave-left--3 {
  animation: slideLeftWave 2s linear -200ms infinite;
}

.wave-right {
  width: 160px;
  height: 19px;
  background: url("../sine-wave.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-90deg) translate(9px, 40px);
}
.wave-right--1 {
  animation: slideRightWave 2s linear infinite;
}
.wave-right--2 {
  animation: slideRightWave 2s linear -800ms infinite;
}
.wave-right--3 {
  animation: slideRightWave 2s linear -200ms infinite;
}

@keyframes slideLeftWave {
  0% {
    transform: rotate(90deg) translate(-8px, 40px);
  }
  100% {
    transform: rotate(90deg) translate(70px, 40px);
  }
}
@keyframes slideRightWave {
  0% {
    transform: rotate(-90deg) translate(9px, 40px);
  }
  100% {
    transform: rotate(-90deg) translate(-71px, 40px);
  }
}
.nav {
  z-index: 2;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.75);
}
.nav__logo {
  display: flex;
  align-items: center;
}
.nav__logo:hover {
  cursor: pointer;
}
.nav__logo-text {
  font-size: 3rem;
  font-weight: 300;
  margin-left: 0;
  letter-spacing: 2px;
}
.nav__controls {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__search {
  flex-basis: 30rem;
  flex-shrink: 0;
  font-size: inherit;
  font-family: inherit;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 5px 15px;
  background-color: transparent;
  outline: 0;
}
.nav__search:focus {
  border-color: #fff;
}
.nav__search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 640px) {
  .nav__search {
    position: absolute;
    top: calc(100% + 2rem);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
}
.nav__temp-selector {
  display: flex;
  margin-left: 2rem;
}
@media only screen and (max-width: 880px) {
  .nav {
    position: relative;
  }
}

span.slash {
  display: inline-block;
  padding: 0 0.5rem;
}

.content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-top: 12rem;
  margin-bottom: 7rem;
  width: 90%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-content: space-around;
}

.details {
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  padding: 3rem;
  padding-top: 6rem;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}
@media only screen and (max-width: 880px) {
  .details {
    padding: 0;
    display: block;
  }
}

.details-container {
  z-index: 2;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15rem repeat(2, 1fr);
  padding-bottom: 4rem;
  gap: 4rem 0;
  width: 110rem;
}
@media only screen and (max-width: 880px) {
  .details-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    width: 50%;
    margin: 0 auto;
    gap: 4rem 0;
  }
}
@media only screen and (max-width: 640px) {
  .details-container {
    padding: 6rem 0;
    width: 100%;
  }
}

.details-header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 4rem;
  font-weight: 200;
}
.details-header__main {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 880px) {
  .details-header__main {
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 1rem;
  }
}
.details-header__icon {
  width: 8rem;
  margin: 0 3rem;
}
@media only screen and (max-width: 880px) {
  .details-header__icon {
    margin-top: 1rem;
  }
}
.details-header__temp {
  font-size: 6rem;
  font-weight: 400;
}
.details-header__sub {
  height: fit-content;
  font-size: 2.5rem;
}
.details-header__subtext {
  margin-right: 1rem;
  font-style: italic;
}
@media only screen and (max-width: 880px) {
  .details-header {
    grid-column: initial;
    grid-column: 1/-1;
  }
}

.hourly-forecast {
  grid-column: 1/2;
  grid-row: 2/-1;
  justify-self: center;
  max-height: 42rem;
  overflow-y: scroll;
  padding: 0 4rem;
}
.hourly-forecast__item {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.hourly-forecast__time {
  width: 8rem;
}
.hourly-forecast__icon {
  width: 3rem;
  margin: 0 3rem;
}
@media only screen and (min-width: 600px) {
  .hourly-forecast::-webkit-scrollbar {
    width: 2px;
    display: none;
  }
  .hourly-forecast::-webkit-scrollbar-track {
    background: #fff;
    margin: 1rem 0;
  }
  .hourly-forecast::-webkit-scrollbar-thumb {
    background-color: rgba(50, 48, 48, 0.8588235294);
    border-radius: 100vw;
  }
  .hourly-forecast:hover::-webkit-scrollbar {
    display: block;
  }
}
@media only screen and (max-width: 880px) {
  .hourly-forecast {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

.info-box {
  border: 1px solid #fff;
  border-radius: 30px;
  width: 25rem;
  justify-self: center;
  padding: 3rem;
  position: relative;
}
.info-box--temp {
  background-image: linear-gradient(-45deg, transparent, transparent 50%, rgba(223, 91, 30, 0.493) 0%, rgba(244, 120, 4, 0.52));
}
@media only screen and (max-width: 880px) {
  .info-box {
    height: 15rem;
    width: 15rem;
  }
}
@media only screen and (max-width: 640px) {
  .info-box {
    height: 20rem;
    width: 20rem;
  }
}

.high {
  position: absolute;
  top: 4.5rem;
  left: 3rem;
}
@media only screen and (max-width: 880px) {
  .high {
    font-size: 2rem;
    top: 3.5rem;
    left: 2rem;
  }
}
@media only screen and (max-width: 640px) {
  .high {
    font-size: 3rem;
  }
}

.low {
  position: absolute;
  bottom: 3.5rem;
  right: 3rem;
}
@media only screen and (max-width: 880px) {
  .low {
    font-size: 2rem;
    bottom: 2.5rem;
    right: 1rem;
  }
}
@media only screen and (max-width: 640px) {
  .low {
    font-size: 3rem;
  }
}

#sunrise {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}

.sunrise {
  position: absolute;
  top: 30px;
  left: 16px;
  font-size: 2rem;
}
@media only screen and (max-width: 880px) {
  .sunrise {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .sunrise {
    font-size: 2rem;
  }
}

.sunset {
  position: absolute;
  bottom: 25px;
  right: 18px;
  font-size: 2rem;
}
@media only screen and (max-width: 880px) {
  .sunset {
    font-size: 1.5rem;
    bottom: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .sunset {
    font-size: 2rem;
  }
}

#humidity,
#thermometer {
  position: absolute;
  width: 9rem;
  bottom: 10px;
  right: 10px;
  opacity: 0.15;
}

#thermometer {
  width: 6rem;
}

.humidity,
.feels-like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.humidity > *,
.feels-like > * {
  margin: 0;
}

@media only screen and (max-width: 880px) {
  .info-text {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 640px) {
  .info-text {
    font-size: 3rem;
  }
}

.info-number {
  font-size: 6rem;
}
@media only screen and (max-width: 880px) {
  .info-number {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 640px) {
  .info-number {
    font-size: 5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
