.content{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container{
  margin-top: 12rem;
  margin-bottom: 7rem;
  width: 90%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  justify-content: space-around;
}

.details{
  min-height: 100vh;
  width: 100%;
  // position: absolute;
  // top: 0;
  z-index: 1;
  display: flex;
  padding: 3rem;
  padding-top: 6rem;
  justify-content: center;
  align-items: center;
  font-weight: 200;

  @media only screen and (max-width: 880px) {
    padding: 0;
    display: block;
  }
}

.details-container{
  // border: 1px solid #fff;
  z-index: 2;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15rem repeat(2, 1fr);
  padding-bottom: 4rem;
  gap: 4rem 0;
  width: 110rem;

  @media only screen and (max-width: 880px) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    width: 50%;
    margin: 0 auto;
    gap: 4rem 0;
  }

  @media only screen and (max-width: 640px) {
    padding: 6rem 0;
    width: 100%;
  }
}

.details-header{
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 4rem;
  font-weight: 200;

  &__main{
    display: flex;
    align-items: center;

    @media only screen and (max-width: 880px) {
      flex-direction: column;
      padding: 2rem;
      padding-bottom: 1rem;
    }
  }

  &__icon{
    width: 8rem;
    margin: 0 3rem;

    @media only screen and (max-width: 880px) {
      margin-top: 1rem;
    }
  }
  
  &__temp{
    font-size: 6rem;
    font-weight: 400;
  }

  &__sub{
    height: fit-content;
    font-size: 2.5rem;
  }

  &__subtext{
    margin-right: 1rem;
    font-style: italic;
  }

  @media only screen and (max-width: 880px) {
    grid-column: initial;
    grid-column: 1/-1;
  }
}

.hourly-forecast{
  grid-column: 1/2;
  grid-row: 2/-1;
  justify-self: center;
  max-height: 42rem;
  overflow-y: scroll;
  padding: 0 4rem;

  &__item{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }

  &__time{
    width: 8rem;
  }

  &__icon{
    width: 3rem;
    margin: 0 3rem;
  }

  @media only screen and (min-width: 600px) {
    &::-webkit-scrollbar {
      width: 2px;
      display: none;
    }
    
    &::-webkit-scrollbar-track{
      background: #fff;
      margin: 1rem 0;
    }
    
    &::-webkit-scrollbar-thumb{
      background-color: #323030db;
      border-radius: 100vw;
    }
  
    &:hover{
      &::-webkit-scrollbar{
        display: block;
      }
    }
  }

  @media only screen and (max-width: 880px) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  
}

.info-box{
  border: 1px solid #fff;
  border-radius: 30px;
  width: 25rem;
  justify-self: center;
  padding: 3rem;
  position: relative;

  &--temp{
    background-image: linear-gradient(-45deg, transparent, transparent 50%, rgba(223, 91, 30, 0.493)0%, rgba(244, 120, 4, 0.52));
  }

  @media only screen and (max-width: 880px) {
    height: 15rem;
    width: 15rem;
  }

  @media only screen and (max-width: 640px) {
    height: 20rem;
    width: 20rem;
  }
}

.high{
  position: absolute;
  top: 4.5rem;
  left: 3rem;
  @media only screen and (max-width: 880px) {
    font-size: 2rem;
    top: 3.5rem;
    left: 2rem;
  }
  @media only screen and (max-width: 640px) {
    font-size: 3rem;
  }
}
.low{
  position: absolute;
  bottom: 3.5rem;
  right: 3rem;
  @media only screen and (max-width: 880px) {
    font-size: 2rem;
    bottom: 2.5rem;
    right: 1rem;
  }
  @media only screen and (max-width: 640px) {
    font-size: 3rem;
  }
}

#sunrise{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}

.sunrise{
  position: absolute;
  top: 30px;
  left: 16px;
  font-size: 2rem;
  @media only screen and (max-width: 880px) {
    font-size: 1.5rem;
  }
  @media only screen and (max-width: 640px) {
    font-size: 2rem;
  }
}

.sunset{
  position: absolute;
  bottom: 25px;
  right: 18px;
  font-size: 2rem;
  @media only screen and (max-width: 880px) {
    font-size: 1.5rem;
    bottom: 20px;
  }
  @media only screen and (max-width: 640px) {
    font-size: 2rem;
  }
}

#humidity,
#thermometer{
  position: absolute;
  width: 9rem;
  bottom: 10px;
  right: 10px;
  opacity: .15;
}

#thermometer{
  width: 6rem;
}

.humidity,
.feels-like{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > *{
    margin: 0;
  }
}

.info-text{
  @media only screen and (max-width: 880px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 640px) {
    font-size: 3rem;
  }
}

.info-number{
  font-size: 6rem;
  @media only screen and (max-width: 880px) {
    font-size: 4rem;
  }
  @media only screen and (max-width: 640px) {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 640px) {

}