.nav{
  z-index: 2;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.75);

  &__logo{
    display: flex;
    align-items: center;

    &:hover{
      cursor: pointer;
    }
  }

  &__logo-text{
    font-size: 3rem;
    font-weight: 400;
    margin-left: 0;
    letter-spacing: 1px;
  }

  &__controls{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__search{
    flex-basis: 30rem;
    flex-shrink: 0;
    font-size: inherit;
    font-family: inherit;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 5px 15px;
    background-color: transparent;
    outline: 0;

    &:focus{
      border-color: #fff;
    }

    &::placeholder{
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__temp-selector{
    display: flex;
    margin-left: 2rem;
  }
}

span.slash{
  display: inline-block;
  padding: 0 .5rem;
}